/ConsumiendoDll_ServicioMonitor/ConsumiendoDll_ServicioMonitor/bin/Debug/Logs/
/ConsumiendoDll_ServicioMonitor/.vs/ConsumiendoDll_ServicioMonitor/v16/.suo
/ServicioMonitor/.vs/ServicioMonitor/v16/.suo
